// in dark mode, different shades of dark gray represent elevation. 
// setting a classname to darklvX sets it to that level of elevation.

.darklv1 {
    background-color: #121212;
    color: white;
}

.darklv2 {
    background-color: rgb(30.75, 30.75, 30.75);
    color: white;
}

.darklv3 {
    background-color: rgb(38.4, 38.4, 38.4);
    color: white;
}

.darklv4 {
    background-color: rgb(46.05, 46.05, 46.05);
    color: white;
}

.darklv5 {
    background-color: rgb(53.7, 53.7, 53.7);
    color: white;
}

.lightcolors{
    background-color: white;
    color: black;
    border-color: black;
}
