@use "sass:math";

$height: 90vh;
$width: 100vw;
$spot-height: $height * .14;
$hover-padding: math.div($width, 3);

.white{
    background-color: white;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.none{
    display: none;
}

.resultstext{
    margin: auto;
}

.blacktext{
    color: black;
}