@use "sass:math";

$height: 90vh;
$width: 100vw;
$spot-height: $height * .14;
$hover-padding: math.div($width, 3);

.ptr{
    cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
}

.white{
    background-color: white;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.none{
    display: none;
}

.basictext{
    font-size: math.div($height, 50);
}

.resultstext{
    margin: auto;
}

.blacktext{
    color: black;
}