@use "ShortStyles";
@use "DarkMode";

// I initialize the background color to the darkmode value, so that I can just make the background white in light mode.
body{
    background-color: #121212;
}

.black{
    background-color: black;
    color: black;
}

.rules{
    margin: 50%
}

// these styles for the modal do a lot of the same stuff that the styled components do in the main page, but i'm happy with the modal
// proportions as they are
.modalbody{
    margin: auto;
}

.textinput{
    box-sizing: border-box;
    width: 100%;
}

// react-bootstrap's modal body comes with a 1px white border by default
.modal-content{
    border: 0px;
}