@use "sass:math";
@use "ShortStyles";
@use "DarkMode";

$height: 90vh;
$width: 100vw;
$spot-height: $height * .14;
$hover-padding: math.div($width, 3);

body{
    overflow: hidden;
    background-color: #121212;
}

.black{
    background-color: black;
    color: black;
}

.rulestext{
    margin-top: math.div($height, 120);
    margin-bottom: math.div($height, 120);
    margin-left: math.div($width, 50);
    margin-right: math.div($width, 50);
}

.rules{
    margin: 50%
}

.modalbody{
    margin: auto;
}

.modallogo{
    color: rgba(127,127,127,.8);
    font-size: math.div($height, 30);
}

.modalactor{
    // width is short or long width
    margin-left: math.div($width, 50);
    margin-right: math.div($width, 50);
}

.textinput{
    box-sizing: border-box;
    width: 100%;
}

.toptext{
    color: rgba(127,127,127,.8);
    font-size: math.div($height, 20);
}


// react-bootstrap's modal body comes with a 1px white border by default
.modal-content{
    border: 0px;
}